/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    #navbar{
        display: block !important;
        margin: 0;
        float: right;
        padding-right: 0;
    }
    .navbar-header{
        display: none;
    }
    .main-menu{
        width: 100% !important;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1024px) and (max-width: 1280px) {
    #navbar{
        margin-right: 0;
        display: block !important;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-header{
        display: none;
    }
    .menus_item{
        padding: 0;
    }
    .logo{
       width: 14%;
    }
    .menus_item{
        width: 77%;
    }
    #menu-wcmenu li a{
    }
    .main-menu{
        width: inherit !important;
        float: right !important;
    }
    .label-title{
        font-size: 12px;
        line-height: 17px;
        padding: 7px;
        width: 92%;

    }
    .passes-buscador input[type=submit]{
            font-size: 13px;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) {
	.logo-mobile{
		width: 40% !important;
	}
	.logo-mobile img{
	  	width: 48% !important;
	    margin-top: 5px !important;
	    margin-left: 20px !important;
	    margin-bottom: 8px !important;
	}
	.ico_content{
		width: 50%;
	}
	.nav-menu>li:hover .sub-menu .sub-menu{
    	display:none;
    }
    .main-menu .sub-menu a.parent:after{
    	top:15px;
    	border-top:5px solid transparent;
    	border-bottom:5px solid transparent;
    	border-left:5px solid #fff;
    }
    .menu-item-has-children>ul.sub-menu li.menu-item-has-children{
    	position:relative;
    }
    .menu-item-has-children>ul.sub-menu li.menu-item-has-children .sub-menu{
    	position:absolute;
    	left:180px;
    	top:0;
    	display:none;
    }
    .menu-item-has-children>ul.sub-menu li.menu-item-has-children .sub-menu a{
    	font-size:12px;
    }
    .menu-item-has-children>ul.sub-menu li.menu-item-has-children:hover .sub-menu{
    	display:block;
    }
    .menu-item-has-children>ul.sub-menu li.menu-item-has-children:hover li a{
    	font-size:12px;
    }
    .menu-item-has-children>ul.sub-menu li.menu-item-has-children:hover li a:hover{
    	background:#991111;
    }
    .navbar-header { 
    	float: none; 
    }
    .navbar-left,.navbar-right { 
    	float: none !important; 
    }
    .navbar-toggle { 
    	display: block; 
    }
    .navbar-collapse { 
    	border-top: 1px solid transparent;
    	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top { 
    	top: 0;
    	border-width: 0 0 1px;
    }
    .navbar-collapse.collapse { 
    	display: none!important;
    }
    .navbar-nav { 
    	float: none!important;
    	margin-top: 7.5px;
    }
    .navbar-nav>li {
    	float: none;
    }
    .navbar-nav>li>a {
    	padding-top: 10px;
    	padding-bottom: 10px;
    }
    .collapse.in{
    	display:block !important;
    } 
    #hero_image {
    	padding: 9% 0 14%;
    }
    .footer .col-sm-6 {
	    width: 50%;
	    float: left;
	    height: 300px;
	}
    .search_passe_home{
        position: inherit;
    }
    .important-home p span, .important-home p{
        color: #fff !important;
    }
    .second-section{
        margin-top: 0;
    }
    .contain-grey-boxes .container{
        position: inherit;
        top: -46px;
    }
    .box-gray-contain .focus-box, .box-gray-contain .chullo-box{
        padding: 2%;
        float: left;
        width: 100%;
    }
    .button-blue-content{
        float: left;
        width: 100%;
    }
    .contain-grey-boxes .container{
        position: inherit;
        top: -46px;
    }
    .contain-grey-boxes{
        height: auto !important;
    }
    .contain-grey-boxes .container .button a{
        margin: 10px 0;
    }
    .content-get-from-mapi .get-from-mapi{
        width: 50%;
    }
    .wpml-ls-statics-shortcode_actions .wpml-ls-current-language>a{
        background-color: transparent !important;
        color: #fff !important;
        border: 1px solid !important;
    }
    .contain_flag{
        position: absolute;
        right: 10px;
        top: 20px;
    }
    .wpml-ls-legacy-dropdown .wpml-ls-item{
        background: #da0000;
    }
}

/* 
  ##Device = Tablets,{
	
  } Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .navbar-header{
        float: right !important;
    }
    #navbar{
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .navbar-header{
        display: none;
    }
    .main-menu a.parent:after {
        top: 28px !important;
    }
    .contain_flag_desktop ul li .wpml-ls-flag{
        width: 30px;
        height: 30px;
        margin-right: 3px;
        margin-top: 7px;
    }
    #menu-wcmenu li a {
        font-size: 9.5px;
        padding: 5px 3px;
    }
    #hero_image {
        padding: 9% 0 4%;
    }
    #form-search div, #form-search-esp div{
            margin-top: 3px;
    }
    .box-four-bg-button .col-md-11{
        font-size: 18px;
    }
    .menus_item{
        padding: 0;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .header-page{
        display: none;
    }
 	.content-sidebar-wrap{
		padding-top: 39px;
	}
	#navbar {
	    float: left;
	    margin-right: 0;
	    padding-top: 0;
	    width: 100%;
	    max-height: 700px !important;
	}
	.slider-menu-children ul li{
		width:100%;
	}
	#navigation_two{
		background: #CA1C1C;
		padding: 0;
	}
	#navigation_two .contain_flag{
		width: 23% !important;
	}
	header{
		height: 70px;
	}
    #navbar{
    	max-height: 340px;
    }
    #navbar::-webkit-scrollbar{
    	display: none;
    }
    .menu-item-has-children .sub-menu{
        width: 100% !important;
    }
    .menu-item-has-children .sub-menu li a{
        line-height: 25px !important;
        text-align: center !important;
        padding: 5% !important;
    }
    .nav-menu>li:hover .sub-menu li .sub-menu a{
      line-height:40px;
    }
    .widget ul.menu li{
      width:100% !important;
    }
    .nav-menu>li{
      width:100%;
      margin:0;
      border-left:0;
    }
    .nav-menu>li:last-child{
      border-right:0;
    }
    #menu-wcmenu{
    	padding-left: 0%;
    }
    .nav-menu>li .sub-menu{
    	position:static;
    	margin:0;
    	display:block;
    	width:100%;
    	float:left;
    }
    .nav-menu>li .sub-menu li{
    	margin:0;
    	float:left;
    	width:100%;
    	display:block;
    	border:0;
    }
    .nav-menu>li .sub-menu li:last-child{
    	border-right:0;
    }
    .nav-menu>li .sub-menu li a{
    	line-height:40px;
    	display:block;
    	width:100%;
    	padding:0 5px;
    	text-align:left;
    }
    .main-menu a{
    	text-align:left;
    	border-left:0;
    }
    .nav-menu>li:hover .sub-menu{
    	display:block;
    	width:100%;
    }
    .sub-menu{
    	height:0;
    	-moz-transition:all 0.3s ease;
    	-o-transition:all 0.3s ease;
    	-webkit-transition:all 0.3s ease;
    	transition:all 0.3s ease;
    	overflow:hidden;
    }
    .hoverr .parent{
    	background:#ca1c1c78;
    }
    .hoverr>.sub-menu{
    	height:auto;max-height:900px;
    }
    .hoverr li.hoverr .parent{
    	background:#991111;
    }
    .hoverr li.hoverr>.sub-menu{
    	height:auto;
    	max-height:900px;
    	background:#991111;
    }
    .parent:after{
    	padding-right:0;
    }
    .main-menu a.parent:after{
    	top:18px;
    }
	.logo img{
		width: 100%;
		margin-top: 10px;
	}
	.menu_top_nav li{
		background-color: #fff;
	    margin-right: 1px;
	    padding: 1.5%;
	    width: 33%;
	}
	.menu_top_nav li a{
		font-size: 15px;
		font-weight: normal;

	}
	#menu-flag {
	    list-style: none;
	    padding-left: 1px;
	    padding-top: 11px;
	    margin-bottom: 0;
	    display: inline-flex;
	}
	#menu-flag li{
		margin-right: 6px;
	}
	.wpml-ls-menu-item .wpml-ls-flag {
	    width: 30px !important;
	    margin-bottom: 0px;
	    height: auto !important;
	}
	.menu_top_nav {
	    padding: 0 !important;
	    margin-left: 0;
	}
	#navbar{
		padding-right: 0;
		padding-left: 0;
	}
	.navbar-collapse{
		padding-top: 10%;
	}
	.quick-links{
		padding: 0;
    	margin: 0;
	}
	.quick-buttons{
		width: 100%;
		margin-left: 0px;
	}
	.logo-header {
	    padding-top: 3%;
	}
	#hero_image{
		background-image: url(https://www.peruhop.com/wp-content/uploads/home-ph-mobile.png);
		background-position-y: 0px;
		padding: 19% 0 49%;

	}
	.search_passe_home{
		top: 0px;
		padding-top: 3%;
    	background-color: #ca1c1c;
	}
    #duration, #destination, #departure{
        margin-bottom: 20px;
    }
	.diagonal_content .diagonal{
		display: none;
	}
	.tripadvisor_review_content img{
		width: 80%;
    	margin: 0 auto;
	}
	select[name=duration], select[name=destination], select[name=departure]{
		background-color: #fff;
	}
	.principal {
	    padding-top: 0;
	}
	.titulo{
		right: 0;
		font-size: 26px;
	}
	.secundario{
		display: block;
	}
	.seventhsection-img-content svg {
	    width: 76%;
	}
	.logo {
	    margin-top: 1%;
	}
	.quick-buttons{
		border-bottom: 2px solid #990000;
    	background-color: #fff;
    	display: block;
    	z-index: 10000;
	}
	.topnavcontact{
		border-right: 2px solid #990000;
    	border-left: 2px solid #990000;
	}
	.ico_content{
		margin-bottom: 2%;
		width: 100%;
	}
	.world, .gender, .pointer{
	    height: 75px;
	    padding: 2%;
	}
	.content_world, .content_gender{
		border: none !important;
	}
	.logo-mobile a img {
	    margin: 0 auto;
	    width: 52%;
    	margin-top: 2px;
	}
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
	.logo-mobile img{
		width: 49% !important;
   		margin-top: 0 !important;
    	/* text-align: center; */
    	margin: 0 auto !important;
	}
	.tripadvisor_review_content{
		width: 50%;
		height: 105px;
		float: left;
	}
	.fourth-section .col-md-6, .seventh-section .col-sm-6{
		width: 50%;
		float: left;
	}
	.sixthsection_content{
		float: left;
	    width: 47%;
	    margin-right: 1.5%;
	    margin-bottom: 1.5%;
	    margin-left: 1.5%;
	}
	.sixth-section .col-md-3{
		margin-top: 0;
	}
	.ico_content{
		width: 50%;
		float: left;
	}
	.eighth_content{
		width: 33%;
	    float: left;
	}
	.footer .col-sm-6 {
		width: 50%;
    	float: left;
    	height: 300px;
	}
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
 	
  
}
